@model EstoriasMalucas.Models.Formulario
<div class="caixa d-flex col-md-12">
	<div class="item col-md-2" style="border: 2px solid black;">
	Publicidade
	</div>
	<div class="item col-md-8 estoria " style="border: 2px solid black; background-color:blanchedalmond">
		<blockquote>
			&nbsp;&nbsp;&nbsp;<strong>@TempData["Amigo9"]</strong> trabalha como desenvolvedor de sistemas em uma grande cidade distante cerca de 70
			quilometros da sua casa. Todos os dias ele pega o mesmo fretado e fez amizade com alguns dos passageiros. entre eles dona 
			<strong>@TempData["Amiga10"]</strong> uma coroa enxuta que é enfermeira em um renomado hospital da capital, 
			<strong>@TempData["Amigo7"]</strong> chef de cozinha em um restaurante japones namorado de <strong>@TempData["Amigo5"]</strong> 
			personal trainer de várias celebridades da capital, além de <strong>@TempData["Amiga8"]</strong> 
			uma jovem tímida que também trabalha com TI na mesma empresa que <strong>@TempData["Amigo9"]</strong>.
		</blockquote>
		<blockquote>
			&nbsp;&nbsp;&nbsp;Toda sexta-feira Sr <strong>@TempData["Amigo3"]</strong> motorista do ônibus traz alguns instrumentos e a galera do fretado
			costuma fazer um sambinha para relaxar enquanto estão presos no trânsito. <strong>@TempData["Amiga6"]</strong>, 
			representante de uma marca de bebidas leva algumas garrafas de Whisky, enquanto <strong>@TempData["Amiga4"]</strong> não deixa 
			faltar um bom petisco. A turma é sempre bem animada, exceto por <strong>@TempData["Amigo1"]</strong>, que não fala 
			com ninguém e sempre volta dormindo ou reclamando do barulho que a galera costuma fazer. 
		</blockquote>
		<blockquote>
			&nbsp;&nbsp;&nbsp;Certa sexta, todos estavam muito animados (exceto <strong>@TempData["Amigo1"]</strong> rs) que nem perceberam estar parados
			até que o Sr <strong>@TempData["Amigo3"]</strong> falou: “Pessoal, houve um grave acidente e a estrada está bloqueada sem 
			previsão de liberação da pista.
		</blockquote>
		<blockquote>
			&nbsp;&nbsp;&nbsp;Todos estavam se divertindo, nem deram muita importância e continuaram o samba. Após beber quase uma caixa de cerveja,
			<strong>@TempData["Amiga8"]</strong> foi deixando para trás a timidez e começou a se insinuar para <strong>@TempData["Amigo7"]</strong> 
			que percebeu e chamou ela de canto dizendo: “Miga a fruta que você gosta eu como até o caroço, sei que não dou pinta mas estou 
			de olho no <strong>@TempData["Amigo9"]</strong>. 
			Você trabalha com ele poderia me ajudar né?!”. Sem reação, <strong>@TempData["Amiga8"]</strong> se limitou apenas em dizer que
			sim com a cabeça, enquanto observava dona <strong>@TempData["Amiga10"]</strong> com a mão no pau de <strong>@TempData["Amigo5"]</strong>,
			que batia no surdo já meio sem ritmo.
		</blockquote>
		<blockquote>
			&nbsp;&nbsp;&nbsp;A batucada continuava rolando e <strong> @TempData["Amiga6"] </strong> muuuiiittttooo louca, de repente começa a chorar
			lembrando que seu marido acabava de troca-la por <strong>@TempData["Amiga2"]</strong>, empregada doméstica do casal.
		</blockquote>
		<blockquote>
			&nbsp;&nbsp;&nbsp;Dona <strong>@TempData["Amiga10"]</strong> não bebia mas nem por isso deixava de sambar e provocar o Sr <strong>@TempData["Amigo3"]</strong>
			que se masturbava olhando ela através do espelho. De repente o ônibus começa a andar dando uma chacoalhada e <strong>@TempData["Amigo1"]</strong>
			que tentava tirar um cochilo foi surpreendido por <strong>@TempData["Amiga4"]</strong> 
			qcaindo no colo dele, <strong>@TempData["Amigo1"]</strong> se aproveitando da situação deu uma bela sarrada em 
			<strong>@TempData["Amiga4"]</strong> que até pensou em reagir mas como estava a dois anos sem transar não resistiu e deu até 
			uma empinadinha pra ajeitar as coisas para ele.
		</blockquote>
		<blockquote>
			&nbsp;&nbsp;&nbsp;Enquanto isso <strong>@TempData["Amiga8"]</strong> chegou até <strong>@TempData["Amigo9"]</strong> e contou que <strong>@TempData["Amigo7"]</strong>
			estava a fim de ficar com ele. <strong>@TempData["Amigo9"]</strong> pensou e fez uma proposta convidando <strong>@TempData["Amiga8"]</strong> 
			para fazer um trisal com eles. Como ela queria ficar com <strong>@TempData["Amigo7"]</strong>, logo aceitou.
		</blockquote>
		<blockquote>
			&nbsp;&nbsp;&nbsp;Sr <strong>@TempData["Amigo3"]</strong> abriu a porta desceu do ônibus para dar uma mijada atrás do ônibus e quando menos
			esperava foi surpreendido por dona <strong>@TempData["Amiga10"]</strong> que olhava ele mijar e ficava mordendo os lábios de 
			vontade em cair de boca na rola dele.
		</blockquote>
		<blockquote>
			&nbsp;&nbsp;&nbsp;Após mais de duas horas parados o trânsito começou a andar e todos foram para a casa. Na Segunda-feira, sóbrios, todos subiram
			no ônibus meio envergonhados, exceto por dona <strong>@TempData["Amiga4"]</strong> que passou a sentar ao lado de 
			<strong>@TempData["Amigo1"]</strong> e ficava mamando ele debaixo da coberta enquanto não chegavam ao trabalho.
			
		</blockquote>
		<blockquote>
			FIM
		</blockquote>
	</div>
	<div class="item col-md-2" style="border: 2px solid black;">
				Publicidade
	</div>
</div>