@model EstoriasMalucas.Models.Formulario
<div class="caixa d-flex col-md-12">
	<div class="item col-md-2" style="border: 2px solid black;">
	Publicidade
	</div>
	<div class="item col-md-8 estoria " style="border: 2px solid black; background-color:blanchedalmond">
		<blockquote>
			&nbsp;&nbsp;&nbsp;Era Dezembro de 2013, as aulas estavam quase terminando na Escola Municipal Maria Regina, onde
			estudavam <strong>@TempData["Amigo1"]</strong>, <strong>@TempData["Amiga2"]</strong> e <strong>@TempData["Amigo3"]</strong>.
			Eles estavam na expectativa após passar o ano vendendo rifas e bolos para juntar o dinheiro para a tão sonhada festa de 
			formatura que aconteceria no próximo Sábado.<strong>@TempData["Amigo1"]</strong> era o mais empolgado, pois estava de olho
			em <strong>@TempData["Amiga4"]</strong>, irmã mais velha de<strong> @TempData["Amigo3"]</strong> que estaria na festa.
			<strong> @TempData["Amiga2"]</strong> não via a hora de usar o vestido que ganhou de <strong>@TempData["Amigo5"]</strong>,
			um coroa aposentado que dava uns presentinhos pra ela em troca de uma chupetinha de vez em quando.
		</blockquote>
		<blockquote>
			&nbsp;&nbsp;&nbsp;No dia da festa <strong>@TempData["Amiga4"]</strong> e<strong> @TempData["Amiga2"]</strong> estavam no salão se arrumando
			para a festa. Enquanto <strong> @TempData["Amiga6"] </strong> fazia a unha de <strong>@TempData["Amiga4"]</strong>,
			<strong>@TempData["Amigo7"]</strong> fazia escova em <strong>@TempData["Amiga2"]</strong> enquanto falava
			“Estou lembrando da minha formatura, foi nesse dia que eu perdi minha virgindade.”
		</blockquote>
		<blockquote>
			&nbsp;&nbsp;&nbsp;Todas olharam para ele ao mesmo tempo e em coro exclamaram “Conta como foi….” - Só conto se vocês me levarem 
			pra festa, retrucou <strong>@TempData["Amigo7"]</strong> estendendo a mão enquanto <strong>@TempData["Amiga2"]</strong> tirava dois
			convites do bolso e entregava para ele e para<strong> @TempData["Amiga6"]</strong>. Foi Assim...eu estava na quadra da
			escola montando os preparativos para a festa quando chegou o Sr <strong>@TempData["Amigo9"]</strong> que era pai da 
			minha amiga pedindo ajuda para tirar o som de dentro do carro. Quando eu abaixei para pegar uma caixa no porta-malas, 
			ele deu uma batidinha de leve na minha bunda e disse: “Nossa tá maior do que a da minha patroa hein” Olhei para trás 
			asustastado e vi ele com a mão na rola. Quando entramos ele me chamou para baixo da arquibancada e o resto vocês 
			já podem imaginar, né meninas….
		</blockquote>
		<blockquote>
			&nbsp;&nbsp;&nbsp;A noite, na festa <strong>@TempData["Amiga8"]</strong> que era diretora da escola estava na porta da quadra 
			dando boas vindas aos alunos enquanto <strong>@TempData["Amigo3"]</strong> já entrava dançando “O marido da dona <strong>@TempData["Amiga8"]</strong> 
			é DJ, ele que vai dar o som hoje”. 
		</blockquote>
		<blockquote>
			&nbsp;&nbsp;&nbsp;Durante a festa todos dançavam animados enquanto <strong>@TempData["Amiga4"]</strong> tirava
			da bolsa uma bala e colocava na boca de <strong>@TempData["Amigo1"]</strong>.
			<strong>@TempData["Amiga6"]</strong> chegou na festa com <strong>@TempData["Amigo7"]</strong> que ao olhar para o palco ficou 
			pálido ao perceber que o DJ, era <strong>@TempData["Amigo9"]</strong>, aquele que tinha tirado a virgindade dele anos atrás.
			Lá pelas onze da noite todos já estavam bem animados, <strong>@TempData["Amiga8"]</strong> já tinha bebido três corotes e 
			começou a dar em cima de <strong>@TempData["Amigo3"]</strong> chamando ele para ir a sala dela.
			<strong> @TempData["Amiga2"]</strong> estava muito louca enquanto <strong>@TempData["Amiga6"]</strong>
			mordendo os lábios tentava seduzi-la para o abate.
		</blockquote>
		<blockquote>
			&nbsp;&nbsp;&nbsp;A essa altura<strong> @TempData["Amiga4"]</strong> e <strong>@TempData["Amigo1"]</strong> já estavam se pegando pela escola e
			<strong> @TempData["Amigo7"]</strong>
			que ficou avulso na festa foi até a frente do palco tentando chamar a atenção de <strong>@TempData["Amigo9"]</strong> que o 
			reconheceu e fez sinal para ele que ele esperasse no banheiro.
			Chegando lá<strong> @TempData["Amigo9"]</strong> já foi tirando a rola pra fora e quando <strong>@TempData["Amigo7"]</strong>
			ia cair de boca foram surpreendidos por <strong>@TempData["Amiga4"]</strong> e<strong> @TempData["Amigo1"]</strong> que muito 
			loucos nem perceberam o que acontecia. Foi ai que <strong>@TempData["Amigo9"]</strong> chamou <strong>@TempData["Amigo7"]</strong>
			para ir para a sala de sua esposa.
			Assim que ele abriu a porta se deparou com <strong>@TempData["Amiga8"]</strong> de quatro sendo enrabada por<strong> @TempData["Amigo3"]</strong>.
		</blockquote>
		<blockquote>
			&nbsp;&nbsp;&nbsp;Surpresos e sem reação, todos ficaram calados até que <strong>@TempData["Amigo7"]</strong> disse: “hoje é dia de festa, vamos aproveitar”.
			<strong>@TempData["Amigo9"]</strong> então olhou para<strong> @TempData["Amiga8"]</strong>, que com olhar de aprovação fechou a porta da 
			sala e pediu parao marido ficar de quatro, pois ela queria ver <strong>@TempData["Amigo3"]</strong> enrabando ele enquanto ela e 
			<strong>@TempData["Amigo7"]</strong> trocavam carícias e admiravam a cena.
			Enquanto isso<strong> @TempData["Amiga6"]</strong> convenceu <strong>@TempData["Amiga2"]</strong> a ir para o motel. Assim que o táxi chegou
			elas entraram e<strong> @TempData["Amiga2"]</strong> ficou surpresa ao ver que <strong>@TempData["Amigo5"]</strong> era o motorista e 
			cochichou no ouvido de<strong> @TempData["Amiga6"]</strong> “Esse é o velho otário que bancou meu vestido”.
		</blockquote>
		<blockqoute>
			&nbsp;&nbsp;&nbsp;Quando <strong>@TempData["Amiga6"]</strong> olhou, viu que o motorista era o seu pai e começou a fazer o maior escândalo colocando
			<strong>@TempData["Amiga2"]</strong> aos tapas para fora do carro. <strong>@TempData["Amiga4"]</strong> e <strong>@TempData["Amigo1"]</strong>
			que estavam vomitando na calçada correram para ajuda-la. Vendo que <strong>@TempData["Amiga2"]</strong> tinha se machucado resolveram 
			leva-la a sala da diretora pois sabiam que lá havia um kit de primeiros socorros.
			Chegando lá viram <strong>@TempData["Amiga8"]</strong> mamando <strong>@TempData["Amigo9"]</strong> enquanto <strong>@TempData["Amigo7"]</strong>
			mandava um beijo grego pra cima de <strong>@TempData["Amigo3"]</strong>. Surpresos e atônitos<strong> @TempData["Amigo1"]</strong>, <strong>@TempData["Amiga2"]</strong>
			e<strong> @TempData["Amiga4"]</strong> cairam pra dentro da farra, mas isso fica pra outra estória.
		</blockqoute>
		<blockquote>
			FIM
		</blockquote>
	</div>
	<div class="item col-md-2" style="border: 2px solid black;">
				Publicidade
	</div>
</div>